.search-form {
  .input-group-addon {
    border: none;
  }
  input[type=text]:not(.browser-default).form-control {
    background-color: transparent;
    border-radius: 0;
    outline: none;
    margin: 0;
    border: $input-btn-border-width solid $input-border-color;
    height: auto;
  }
  select.form-control {
    flex: 1;
    &:not([size]):not([multiple]) {
      height: auto;
    }
  }
  input.form-control {
    flex: 2;
  }
}

.chosen-container-single .chosen-search input[type="text"] {
  padding: 0;
}
